@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

html, body{
    height: 100%;
    width: 100%;
}

*::selection{
    background-color:#e9af00;
    color: black;
}